<main class="page bg-background">
    <section class="card bg-login-card">
        <div class="logo">
            <img src="/logo.png" alt="">
        </div>
        <h1>Bienvenido</h1>
        <p class="subtitle text-login-indications">
            Inicia sesión para continuar aprendiendo alemán.
        </p>

        <form [formGroup]="form" (ngSubmit)="onSubmit()" autocomplete="on" novalidate
            aria-label="Formulario de inicio de sesión" class="login-form">

            <div class="field">
                <label for="email">Correo electrónico</label>

                <input pInputText id="email" type="email" formControlName="email" autocomplete="email"
                    placeholder="Ingresa tu correo electrónico"
                    [attr.aria-invalid]="form.controls.email.invalid && form.controls.email.touched ? 'true' : null"
                    aria-describedby="email-error" class="w-full" />
                @if (form.controls.email.invalid && form.controls.email.touched) {
                <small id="email-error" class="field-error" role="alert">
                    @if (form.controls.email.errors?.['required']) {
                    El correo electrónico es requerido.
                    } @else if (form.controls.email.errors?.['minlength']) {
                    Mínimo 3 caracteres.
                    } @else if (form.controls.email.errors?.['maxlength']) {
                    Máximo 50 caracteres.
                    } @else if (form.controls.email.errors?.['email']) {
                    Correo electrónico inválido.
                    }
                </small>
                }
                <span class="error" id="email-error" aria-live="polite"></span>
            </div>

            <div class="field">
                <label for="password" class="field-label">Contraseña</label>
                <p-password inputId="password" formControlName="password" [feedback]="false" [toggleMask]="true"
                    autocomplete="off" placeholder="Ingresa tu contraseña" inputStyleClass="w-full"
                    aria-describedby="password-error" />

                @if (form.controls.password.invalid && form.controls.password.touched) {
                <small id="password-error" class="field-error" role="alert">
                    @if (form.controls.password.errors?.['required']) {
                    La contraseña es requerida.
                    } @else if (form.controls.password.errors?.['minlength']) {
                    Mínimo 8 caracteres.
                    } @else if (form.controls.password.errors?.['weakPassword']) {
                    Debe incluir mayúscula, número y carácter especial.
                    }
                </small>
                }
            </div>

            <div class="row-options">
                <label class="remember">
                    <input type="checkbox" id="remember" name="remember" />
                    Recordarme
                </label>
                <a href="#" class="forgot text-login-subtitle">¿Olvidaste tu contraseña?</a>
            </div>

            @if(errorLogin()) {
            <div class="text-center mb-1.5 text-red-500">
                El usurio o contraseña son incorrectos. <br> Inténtalo de nuevo.
            </div>
            }

            <button type="submit" class="submit-btn">Iniciar sesión</button>

            <p id="form-message" class="form-message" aria-live="polite">
            </p>
        </form>

        <p class="register text-login-indications">
            ¿No tienes cuenta? <a routerLink="/register" class="text-login-subtitle">Regístrate gratis</a>
        </p>
    </section>
</main>